In [2]:
import keyring
from tiingo import TiingoClient
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from bs4 import BeautifulSoup
import math
from tqdm import tqdm
import time
from datetime import datetime, timedelta
from io import StringIO  # Import StringIO module
import numpy as np
import yfinance as yf
from sqlalchemy import create_engine
import pymysql
from yahooquery import Ticker
import numpy as np

In [2]:
keyring.set_password('tiingo', 'SEONGHYUN', '55925425671d47317553343747bf09f1b6315a21')
api_key = keyring.get_password('tiingo', 'SEONGHYUN')
config = {}
config['session'] = True
config['api_key'] = api_key
client = TiingoClient(config)

In [3]:
# ticker infomation
tickers = client.list_stock_tickers()
tickers_df = pd.DataFrame.from_records(tickers)
tickers_df.groupby(['exchange', 'priceCurrency'])['ticker'].count()

exchange   priceCurrency
           USD               2459
AMEX       USD                 80
ASX        AUD                169
           USD               2171
BATS       USD                 22
CSE        USD                 32
EXPM       USD               2061
LSE        USD                 12
NASDAQ     USD              12689
NMFQS      USD                 36
NYSE       USD               7766
NYSE ARCA  USD                 66
NYSE MKT   USD                465
NYSE NAT   USD                  3
OTCBB      USD                650
OTCCE      USD               1100
OTCGREY    USD               4141
OTCMKTS    USD               1188
OTCQB      USD               1258
OTCQX      USD                763
PINK       USD              15360
SHE        CNY               3387
           HKD                 12
SHEB       HKD                 42
SHG        CNY               2954
           USD                  6
SHGB       USD                 44
Name: ticker, dtype: int64

In [4]:
# ex) AAPL
ticker_metadata = client.get_ticker_metadata("AAPL")
historical_prices = client.get_dataframe(tickers = "AAPL", startDate='2023-03-01', endDate='2024-03-26', frequency='daily')
historical_prices.head()

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
date,,,,,,,,,,,,
2023-03-01 00:00:00+00:00,145.31,147.2285,145.01,146.830,55478991,144.542539,146.450906,144.244124,146.054511,55478991,0.0,1.0
2023-03-02 00:00:00+00:00,145.91,146.7100,143.90,144.380,52279761,145.139370,145.935145,143.139986,143.617451,52279761,0.0,1.0
2023-03-03 00:00:00+00:00,151.03,151.1100,147.33,148.045,70732297,150.232329,150.311906,146.551870,147.263094,70732297,0.0,1.0
2023-03-06 00:00:00+00:00,153.83,156.3000,153.46,153.785,87558028,153.017540,155.474495,152.649494,152.972778,87558028,0.0,1.0
2023-03-07 00:00:00+00:00,151.60,154.0299,151.13,153.700,56182028,150.799318,153.216385,150.331800,152.888227,56182028,0.0,1.0

In [5]:
# 가치지표
fundamentals_daily = client.get_fundamentals_daily("AAPL")
fundamentals_daily_df = pd.DataFrame.from_records(fundamentals_daily)
fundamentals_daily_df.dropna().head()

,date,marketCap,enterpriseVal,peRatio,pbRatio,trailingPEG1Y
0,2021-03-26T00:00:00.000Z,2.060788e+12,2.096005e+12,32.235076,31.118453,0.923095
2,2021-03-29T00:00:00.000Z,2.037907e+12,2.089718e+12,26.705285,29.458888,0.221966
3,2021-03-30T00:00:00.000Z,2.012893e+12,2.064704e+12,26.377491,29.097296,0.219241
4,2021-03-31T00:00:00.000Z,2.050666e+12,2.102477e+12,26.872481,29.643325,0.223356
5,2021-04-01T00:00:00.000Z,2.064936e+12,2.116747e+12,27.059478,29.849603,0.224910

In [6]:
# balacesheet
fundamentals_stmnts = client.get_fundamentals_statements(ticker = 'AAPL', startDate='2023-03-01', endDate='2024-03-26', asReported=True, fmt='csv')
# data cleaning
df_fs = pd.DataFrame([x.split(',') for x in fundamentals_stmnts.split('\n')])
# 첫 번째 행을 열 이름으로 지정한 후, 해당 행 삭제
df_fs.columns = df_fs.iloc[0]
df_fs = df_fs[1:]
# date열을 인덱스로 지정
df_fs.set_index('date', drop=True, inplace=True)
# date가 비어있으므로 이를 삭제
df_fs = df_fs[df_fs.index != '']
df_fs.head()

,year,quarter,statementType,dataCode,value
date,,,,,
2024-02-02,2024,1,cashFlow,businessAcqDisposals,0.0
2024-02-02,2024,1,balanceSheet,assetsCurrent,143692000000.0
2024-02-02,2024,1,incomeStatement,grossProfit,54855000000.0
2024-02-02,2024,1,cashFlow,depamor,2848000000.0
2024-02-02,2024,1,balanceSheet,equity,74100000000.0

In [7]:
tickers_df[tickers_df['exchange'] == 'NYSE'].dropna()

           ticker exchange assetType priceCurrency   startDate     endDate
0            -P-H     NYSE     Stock           USD
1            -P-S     NYSE     Stock           USD  2018-08-22  2023-05-05
79     0001753539     NYSE     Stock           USD
6500            A     NYSE     Stock           USD  1999-11-18  2024-03-25
6513           AA     NYSE     Stock           USD  2016-10-18  2024-03-25
...           ...      ...       ...           ...         ...         ...
58885         ZUO     NYSE     Stock           USD  2018-04-11  2024-03-25
58890        ZVIA     NYSE     Stock           USD  2021-07-22  2024-03-25
58908         ZWS     NYSE     Stock           USD  2012-03-29  2024-03-25
58911          ZX     NYSE     Stock           USD  2011-05-16  2018-06-14
58925          ZZ     NYSE     Stock           USD

[7766 rows x 6 columns]

동적 크롤링

In [22]:
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
nationcode = '5'
url = f'https://www.investing.com/stock-screener/?sp=country::{nationcode}|sector::a|industry::a|equityType::ORD%3Ceq_market_cap;1'
driver.get(url)

# Screener Result에 해당하는 부분은 종목이 들어 있는 표가 로딩된 이후 나타난다. 따라서 기다린다
WebDriverWait(driver, 1).until(EC.visibility_of_element_located((By.XPATH, '//*[@id="resultsTable"]/tbody')))

end_num = driver.find_element(By.CLASS_NAME, value = 'js-total-results').text
end_num = math.ceil(int(end_num) / 50)

In [23]:
all_data_df = pd.DataFrame()  # Initialize as an empty DataFrame
driver = webdriver.Chrome()  # Initialize web driver

for i in tqdm(range(1, end_num + 1)):
    url = f'https://www.investing.com/stock-screener/?sp=country::{nationcode}|sector::a|industry::a|equityType::ORD%3Ceq_market_cap;{i}'
    driver.get(url)
    
    try:
        WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.XPATH, '//*[@id="resultsTable"]/tbody')))
    except:
        time.sleep(5)
        driver.refresh()
        WebDriverWait(driver, 10).until(EC.visibility_of_element_located((By.XPATH, '//*[@id="resultsTable"]/tbody')))
        
    # HTML 정보에 해당하는 page_source를 BeatufulSoup 객체로 만들어 준다.
    html = BeautifulSoup(driver.page_source,'lxml')
    # html.find(class_ = 'js-search-input inputDropDown')['value']
    html_table = html.select('table.genTbl.openTbl.resultsStockScreenerTbl.elpTbl')
    # Wrap HTML string in StringIO object before passing it to pd.read_html()
    html_string_io = StringIO(html_table[0].prettify())
    df_table = pd.read_html(html_string_io)
    df_table_select = df_table[0][['Name', 'Symbol', 'Exchange', 'Sector', 'Market Cap']]
    all_data_df = pd.concat([all_data_df, df_table_select])  # Concatenate into DataFrame
    # time.sleep(1)
    
data_country = html.find(class_ = 'js-search-input inputDropDown')['value']
all_data_df['country'] = data_country
all_data_df['date'] = datetime.today().strftime('%Y-%m-%d')
all_data_df = all_data_df[~all_data_df['Name'].isin(['NASDAQ', 'NYSE'])]  # Pass values as a list
all_data_df = all_data_df.drop_duplicates(['Symbol'])
all_data_df.reset_index(inplace=True, drop=True)

100%|██████████| 165/165 [08:27<00:00,  3.08s/it]

In [24]:
all_data_df = all_data_df.replace({np.nan: None})
driver.quit()

In [25]:
all_data_df_bind = all_data_df[
    (all_data_df['Market Cap'] != '-') &
    (all_data_df['Exchange'] != 'OTC Markets') &
    (all_data_df['Sector'] != 'None')
].reset_index(drop=True)
all_data_df_bind = all_data_df_bind.dropna(subset=['Sector']).reset_index(drop=True)

In [26]:
import pymysql

con = pymysql.connect(user='root',
                      passwd='Tjdgus12!',
                      host='127.0.0.1',
                      db='us_stock_db',
                      charset='utf8')

mycursor = con.cursor()
query = """
        insert into us_ticker (Name, Symbol, Exchange, Sector, `Market Cap`, country, date)
        values (%s,%s,%s,%s,%s,%s,%s) as new
        on duplicate key update
        name = new.name, Exchange = new.Exchange, Sector = new.Sector, `Market Cap` = new.`Market Cap`;
        """
args = all_data_df_bind.values.tolist()

mycursor.executemany(query, args)
con.commit()

con.close()

주가 다운로드

In [ ]:
today = datetime.today()
price = yf.download('AAPL', start = today - timedelta(1800), progress = False)
price

In [ ]:
# DB 연결

# sql 접속 url
con_url = f'mysql+pymysql://root:Tjdgus12!@127.0.0.1:3306/us_stock_db'
engine = create_engine(con_url)
con = pymysql.connect(user='root',
                      passwd='Tjdgus12!',
                      host='127.0.0.1',
                      db='us_stock_db',
                      charset = 'utf8')
mycursor = con.cursor()

# 티커 리스트 불러오기
with engine.connect() as conn:
    
    ticker_list = pd.read_sql(sql = """select * from us_ticker
                          where date = (select max(date) from us_ticker)
                          and country = 'United States';""", con = conn.connection)

# DB 저장 쿼리
query = f"""
insert into us_price (Date, High, Low, Open, Close, Volume, `Adj Close`, ticker)
values(%s,%s,%s,%s,%s,%s,%s,%s)
on duplicate key update
High = VALUES(High), Low = VALUES(Low), Open = VALUES(Open), Close = VALUES(Close), Volume = VALUES(Volume), `Adj Close` = VALUES(`Adj Close`);
"""

# 오류 발생 시 저장할 리스트 생성
error_list = []

# 기준날짜 설정
today = datetime.today()


# 전 종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):
    # 티커 선택
    ticker = ticker_list['Symbol'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:
        price = yf.download(ticker, start = today - timedelta(5) * 365, end = today, progress=False)

        # 데이터 클렌징
        price = price.reset_index()
        price['ticker'] = ticker
        
        # 주가 데이터를 DB에 저장
        args = price.values.tolist()
        mycursor.executemany(query, args)
        con.commit()
        
    except:
        # 오류 발생 시 error_list에 티커 저장하고 넘어가기
        print('error:', ticker)
        error_list.append(ticker)
        
    # 타임슬립 적용
    # time.sleep(1)
    # time.sleep(2)
    
# DB 연결 종료
engine.dispose()
con.close()

In [13]:
print(error_list)

[]

제무제표 다운로드

In [5]:
# sql 접속 url
con_url = f'mysql+pymysql://root:Tjdgus12!@127.0.0.1:3306/us_stock_db'
engine = create_engine(con_url)
con = pymysql.connect(user='root',
                      passwd='Tjdgus12!',
                      host='127.0.0.1',
                      db='us_stock_db',
                      charset = 'utf8')
mycursor = con.cursor()

# 티커 리스트 불러오기
with engine.connect() as conn:
    
    ticker_list = pd.read_sql(sql = """select * from us_ticker
                          where date = (select max(date) from us_ticker)
                          and country = 'United States';""", con = conn.connection)

# DB 저장 쿼리
# value = new.value => primary key가 아닌 것이 중복이 일어나면 덮어쓴다.
query_fs = f"""
insert into us_fs (ticker, date, account, value, freq)
values(%s,%s,%s,%s,%s) as new
on duplicate key update
value = new.value;
"""

# 오류 발생 시 저장할 리스트 생성
error_list = []

C:\Users\YANG\AppData\Local\Temp/ipykernel_237972/3423411897.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ticker_list = pd.read_sql(sql = """select * from us_ticker

In [ ]:




# 전 종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):
    # 티커 선택
    ticker = ticker_list['Symbol'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:
        # 정보 다운로드
        data = Ticker(ticker)
        
        # 연간 재무제표
        data_y = data.all_financial_data(frequency='a')
        data_y.reset_index(inplace = True)
        data_y = data_y.loc[:, ~data_y.columns.isin(['periodType', 'currencyCode'])]
        data_y = data_y.melt(id_vars = ['symbol', 'asOfDate'])
        data_y = data_y.replace([np.nan], None)
        data_y['freq'] = 'y'
        data_y.columns = ['ticker', 'date', 'account', 'value', 'freq']

        # 분기 재무제표
        data_q = data.all_financial_data(frequency='q')
        data_q.reset_index(inplace = True)
        data_q = data_q.loc[:, ~data_q.columns.isin(['periodType', 'currencyCode'])]
        data_q = data_q.melt(id_vars = ['symbol', 'asOfDate'])
        data_q = data_q.replace([np.nan], None)
        data_q['freq'] = 'q'
        data_q.columns = ['ticker', 'date', 'account', 'value', 'freq']
        
        # 데이터 합치기
        data_fs = pd.concat([data_y, data_q], axis=0)
        
        # 주가 데이터를 DB에 저장
        args = data_fs.values.tolist()
        mycursor.executemany(query_fs, args)
        con.commit()
        
    except:
        # 오류 발생 시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)
        
    # 타임슬립 적용
    # time.sleep(1)
    
# DB 연결 종료
engine.dispose()
con.close()

In [6]:
print(error_list)

[]