In [2]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import requests as rq
from bs4 import BeautifulSoup
import re
from io import BytesIO
from datetime import datetime, timedelta
import json
from tqdm import tqdm
import time
import pymysql
from dateutil.relativedelta import relativedelta

C:\Users\YANG\AppData\Roaming\Python\Python39\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\YANG\AppData\Roaming\Python\Python39\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:
# 삼성전자 url: https://comp.fnguide.com/SVO2/ASP/SVD_main.asp?pGB=1&gicode=A005930
# 출처: fnguide

con_url = f'mysql+pymysql://root:Tjdgus12!@127.0.0.1:3306/kr_stock_db'
engine = create_engine(con_url)
query = """select * from kor_ticker
where 기준일 = (select max(기준일) from kor_ticker)
and 종목구분 = '보통주';"""
# 티커 리스트 불러오기
with engine.connect() as conn:
    ticker_list = pd.read_sql(sql = query, con = conn.connection)

engine.dispose()

i = 0
ticker = ticker_list['종목코드'][i]

url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'

# read_html() 함수를 통해 표 데이터만을 가져온다. 페이지를 살펴보면 + 버튼을 눌러야만
# 표시가 되는 항목도 있으므로, displayed_only = False를 통해 해당항목들도 가져온다.
data = pd.read_html(url, displayed_only=False)
[item.head(3) for item in data]
# 포괄손익계산서 표에는 전년동기, 전년동기% 열이 있으며 이는 불필요하므로 삭제
data_fs_y = pd.concat([data[0].iloc[:,~data[0].columns.str.contains('전년동기')], data[2], data[4]])
data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: '계정'})

C:\Users\YANG\AppData\Local\Temp/ipykernel_124512/3765739418.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ticker_list = pd.read_sql(sql = query, con = conn.connection)

In [102]:
# 결산마감 이전에 해당 페이지를 크롤링할 경우 연간 재무제표 데이터에 분기 재무제표 데이터가 들어오기도 하므로,
# 연간 재무제표에 해당하는 열만을 선택해야한다.
page_data = rq.get(url)
page_data_html = BeautifulSoup(page_data.content, 'html.parser')

fiscal_data = page_data_html.select('div.corp_group1 > h2')
fiscal_data_text = fiscal_data[1].text
fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)

In [103]:
fiscal_data_text

['12']

In [104]:
data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') | (data_fs_y.columns.str[-2:].isin(fiscal_data_text))]
# 제무제표 계정은 있으나 데이터가 없는 계정들
data_fs_y[data_fs_y.loc[:, ~data_fs_y.columns.isin(['계정'])].isna().all(axis=1)].head

<bound method NDFrame.head of                        계정  2020/12  2021/12  2022/12  2023/12
10                기타원가성비용      NaN      NaN      NaN      NaN
18               대손충당금환입액      NaN      NaN      NaN      NaN
19               매출채권처분이익      NaN      NaN      NaN      NaN
20   당기손익-공정가치측정 금융자산관련이익      NaN      NaN      NaN      NaN
23             금융자산손상차손환입      NaN      NaN      NaN      NaN
..                    ...      ...      ...      ...      ...
149                 법인세환입      NaN      NaN      NaN      NaN
150              법인세납부(-)      NaN      NaN      NaN      NaN
151            중단영업관련현금흐름      NaN      NaN      NaN      NaN
152        영업투자재무활동기타현금흐름      NaN      NaN      NaN      NaN
153       연결범위변동으로인한현금의증가      NaN      NaN      NaN      NaN

[146 rows x 5 columns]>

In [105]:
# 재무 클렌징 함수
# 입력값으로 데이터프레임, 티커, 공시구분(연간/분기)
def clean_fs(df, ticker, frequency):
    # 모든 연도의 데이터가 NaN인 항목은 제외
    df = df[~df.loc[:, ~df.columns.isin(['계정'])].isna().all(axis=1)]
    df = df.drop_duplicates(['계정'], keep='first')
    # melt() 함수를 이용해 열로 긴 데이터를 행으로 긴 데이터로 변환
    df = pd.melt(df, id_vars='계정', var_name = '기준일', value_name = '값')
    df['계정'] = df['계정'].replace({'계산에 참여한 계정 펼치기' : ''}, regex=True)
    df['기준일'] = pd.to_datetime(df['기준일'], format='%Y/%m') + pd.tseries.offsets.MonthEnd()
    df['종목코드'] = ticker
    df['공시구분'] = frequency
    
    return df

In [106]:
data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')

In [107]:
data_fs_q = pd.concat([data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3], data[5]])
data_fs_q = data_fs_q.rename(columns = {data_fs_q.columns[0] : '계정'})
data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')
data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean])

In [108]:
data_fs_bind

              계정        기준일       값    종목코드 공시구분
0            매출액 2020-12-31  2721.0  000020    y
1           매출원가 2020-12-31  1334.0  000020    y
2          매출총이익 2020-12-31  1387.0  000020    y
3        판매비와관리비 2020-12-31  1155.0  000020    y
4            인건비 2020-12-31   415.0  000020    y
..           ...        ...     ...     ...  ...
523     배당금지급(-) 2023-12-31     NaN  000020    q
524       환율변동효과 2023-12-31    -1.0  000020    q
525  현금및현금성자산의증가 2023-12-31  -223.0  000020    q
526   기초현금및현금성자산 2023-12-31   947.0  000020    q
527   기말현금및현금성자산 2023-12-31   723.0  000020    q

[1080 rows x 5 columns]

In [80]:
# sql 접속 url
con_url = f'mysql+pymysql://root:Tjdgus12!@127.0.0.1:3306/kr_stock_db'
engine = create_engine(con_url)
con = pymysql.connect(user='root',
                      passwd='Tjdgus12!',
                      host='127.0.0.1',
                      db='kr_stock_db',
                      charset = 'utf8')
mycursor = con.cursor()

# 티커 리스트 불러오기
with engine.connect() as conn:
    
    ticker_list = pd.read_sql(sql = """select * from kor_ticker
                          where 기준일 = (select max(기준일) from kor_ticker)
                          and 종목구분 = '보통주';""", con = conn.connection)

# DB 저장 쿼리
query = f"""
insert into kor_fs (계정, 기준일, 값, 종목코드, 공시구분)
values(%s,%s,%s,%s,%s) as new
on duplicate key update
값 = new.값
"""

# 오류 발생 시 저장할 리스트 생성
error_list = []



# 전 종목 주가 다운로드 및 저장
for i in tqdm(range(0, len(ticker_list))):
    # 티커 선택
    ticker = ticker_list['종목코드'][i]

    # 오류 발생 시 이를 무시하고 다음 루프로 진행
    try:
        # url 생성
        url = f'https://comp.fnguide.com/SVO2/ASP/SVD_Finance.asp?pGB=1&gicode=A{ticker}'

        # 데이터 다운로드
        data = pd.read_html(url, displayed_only=False)
        
        # 연간 데이터
        data_fs_y = pd.concat([data[0].iloc[:,~data[0].columns.str.contains('전년동기')], data[2], data[4]])
        data_fs_y = data_fs_y.rename(columns={data_fs_y.columns[0]: '계정'})
        
        # 결산년 찾기
        page_data = rq.get(url)
        page_data_html = BeautifulSoup(page_data.content, 'html.parser')
        
        fiscal_data = page_data_html.select('div.corp_group1 > h2')
        fiscal_data_text = fiscal_data[1].text
        fiscal_data_text = re.findall('[0-9]+', fiscal_data_text)
        
        # 결산년에 해당하는 계정만 남기기
        data_fs_y = data_fs_y.loc[:, (data_fs_y.columns == '계정') | (data_fs_y.columns.str[-2:].isin(fiscal_data_text))]

        # 클렌징
        data_fs_y_clean = clean_fs(data_fs_y, ticker, 'y')
        
        # 분기데이터
        data_fs_q = pd.concat([data[1].iloc[:, ~data[1].columns.str.contains('전년동기')], data[3], data[5]])
        data_fs_q = data_fs_q.rename(columns = {data_fs_q.columns[0] : '계정'})
        
        # 클렌징
        data_fs_q_clean = clean_fs(data_fs_q, ticker, 'q')

        # 2개 합치기
        data_fs_bind = pd.concat([data_fs_y_clean, data_fs_q_clean]).fillna(0)
        
        # 재무제표 데이터를 DB에 저장
        args = data_fs_bind.values.tolist()
        mycursor.executemany(query, args)
        con.commit()
        
    except:
        # 오류 발생 시 error_list에 티커 저장하고 넘어가기
        print(ticker)
        error_list.append(ticker)
        
    # 타임슬립 적용
    time.sleep(1)
    
# DB 연결 종료
engine.dispose()
con.close()

C:\Users\YANG\AppData\Local\Temp/ipykernel_132984/809289249.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ticker_list = pd.read_sql(sql = """select * from kor_ticker
  0%|          | 0/2407 [00:00<?, ?it/s]

000020

  0%|          | 1/2407 [00:02<1:22:52,  2.07s/it]

000040

  0%|          | 1/2407 [00:04<2:53:00,  4.31s/it]

KeyboardInterrupt:

In [81]:
# sql 접속 url
con_url = f'mysql+pymysql://root:Tjdgus12!@127.0.0.1:3306/kr_stock_db'
engine = create_engine(con_url)
con = pymysql.connect(user='root',
                      passwd='Tjdgus12!',
                      host='127.0.0.1',
                      db='kr_stock_db',
                      charset = 'utf8')
mycursor = con.cursor()

# 티커 리스트 불러오기
with engine.connect() as conn:
    ticker_list = pd.read_sql(sql = """select * from kor_ticker
                          where 기준일 = (select max(기준일) from kor_ticker)
                          and 종목구분 = '보통주';""", con = conn.connection)

C:\Users\YANG\AppData\Local\Temp/ipykernel_132984/3474578976.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ticker_list = pd.read_sql(sql = """select * from kor_ticker

In [18]:
# 삼성전자 분기 재무제표
with engine.connect() as conn:
    sample_fs = pd.read_sql("""
                        select * from kor_fs
                        where 공시구분 = 'q'
                        and 종목코드 = '005930'
                        and 계정 in ('당기순이익', '자본', '영업활동으로인한현금흐름', '매출액');
                        """, con = conn.connection)
engine.dispose()

C:\Users\YANG\AppData\Local\Temp/ipykernel_124512/1973104973.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sample_fs = pd.read_sql("""

In [ ]:
def filter_earliest_four_quarters(group):
    return group.tail(4)

In [1]:
sample_fs = sample_fs.sort_values(['종목코드', '계정', '기준일'])
# 종목코드와 계정을 기준으로 groupby() 함수를 통해 그룹을 묶으며, as_index = False를 통해 그룹 라벨을 인덱스로 사용하지 않는다.
# rolling() 메서드를 통해 4개 기간씩 합계를 구하며, min_periods 인자를 통해 데이터가 최소 4개는 있을 경우에만 값을 구한다.
# 즉 4개 분기 데이터를 통해 TTM값을 계산하며, 12개월치 데이터가 없을 경우 계산 x
sample_fs = sample_fs.apply(filter_earliest_four_quarters)
sample_fs['ttm'] = sample_fs.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(window=4, min_periods=4).sum()['값']

NameError: name 'sample_fs' is not defined

In [20]:
sample_fs['ttm'] = np.where(sample_fs['계정']== '자본', sample_fs['ttm']/4,sample_fs['ttm'])
# 계정과 종목코드별 그룹을 나눈 후 tail(1) 함수를 통해 가장 최근 데이터만 선택한다.
sample_fs = sample_fs.groupby(['계정', '종목코드']).tail(1)
sample_fs_merge = sample_fs[['계정', '종목코드', 'ttm']].merge(ticker_list[['종목코드', '시가총액', '기준일']], on = '종목코드')
# 재무제표 데이터의 경우 단위가 억 원인 반면 시가총액은 원이므로, 시가총액을 억으로 나눠 단위를 맞춰준다.
sample_fs_merge['시가총액'] = sample_fs_merge['시가총액'] / 100000000

In [21]:
sample_fs_merge['value'] = sample_fs_merge['시가총액'] / sample_fs_merge['ttm']
sample_fs_merge['지표'] = np.where(
    sample_fs_merge['계정'] == '매출액', 'PSR',
    np.where(sample_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
             np.where(sample_fs_merge['계정'] == '자본', 'PBR',
                    np.where(sample_fs_merge['계정'] == '당기순이익', 'PER', None))))
ticker_list_sample = ticker_list[ticker_list['종목코드'] == '005930'].copy()
ticker_list_sample['DY'] = ticker_list_sample['주당배당금'] / ticker_list_sample['종가']

In [21]:
# sql 접속 url
con_url = f'mysql+pymysql://root:Tjdgus12!@127.0.0.1:3306/kr_stock_db'
engine = create_engine(con_url)
con = pymysql.connect(user='root',
                      passwd='Tjdgus12!',
                      host='127.0.0.1',
                      db='kr_stock_db',
                      charset = 'utf8')
mycursor = con.cursor()

# 분기 재무제표 불러오기
with engine.connect() as conn:
    kor_fs = pd.read_sql("""
                        select * from kor_fs
                        where 공시구분 = 'q'
                        and 계정 in ('당기순이익', '자본', '매출액', '영업활동으로인한현금흐름');
                        """, con = conn.connection)
    
with engine.connect() as conn:
    kor_fs_2 = pd.read_sql("""
                        select * from kor_fs
                        where 공시구분 = 'q'
                        and 계정 in ('영업이익', '감가상각비');
                        """, con = conn.connection)


# 티커 리스트 불러오기
with engine.connect() as conn:
    ticker_list = pd.read_sql(sql = """select * from kor_ticker
                          where 기준일 = (select max(기준일) from kor_ticker)
                          and 종목구분 = '보통주';""", con = conn.connection)
    
engine.dispose()

C:\Users\YANG\AppData\Local\Temp/ipykernel_58572/4238718603.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_fs = pd.read_sql("""
C:\Users\YANG\AppData\Local\Temp/ipykernel_58572/4238718603.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  kor_fs_2 = pd.read_sql("""
C:\Users\YANG\AppData\Local\Temp/ipykernel_58572/4238718603.py:29: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  ticker_list = pd.read_sql(sql = """select * from kor_ticker

In [16]:
kor_fs_sorted = kor_fs.sort_values(by=['종목코드', '계정', '기준일'])
grouped = kor_fs_sorted.groupby(['종목코드', '계정'])
def filter_earliest_four_quarters(group):
    return group.tail(4)
kor_fs = grouped.apply(filter_earliest_four_quarters)
kor_fs.reset_index(drop=True, inplace=True)

C:\Users\YANG\AppData\Local\Temp/ipykernel_58572/525809855.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  kor_fs = grouped.apply(filter_earliest_four_quarters)

In [22]:
# kor_fs[kor_fs['종목코드'] =='000880']

                 계정         기준일         값    종목코드 공시구분
21            당기순이익  2022-12-31   -4741.0  000880    q
1699          당기순이익  2023-03-31   11553.0  000880    q
4090          당기순이익  2023-06-30    2486.0  000880    q
6481          당기순이익  2023-09-30     968.0  000880    q
9582            매출액  2022-12-31  231230.0  000880    q
11205           매출액  2023-03-31  144024.0  000880    q
13521           매출액  2023-06-30  121468.0  000880    q
15837           매출액  2023-09-30  119393.0  000880    q
18851  영업활동으로인한현금흐름  2022-12-31   13449.0  000880    q
20527  영업활동으로인한현금흐름  2023-03-31   35331.0  000880    q
22913  영업활동으로인한현금흐름  2023-06-30  -28211.0  000880    q
25299  영업활동으로인한현금흐름  2023-09-30   10375.0  000880    q
28396            자본  2022-12-31  208788.0  000880    q
30094            자본  2023-03-31  342811.0  000880    q
32509            자본  2023-06-30  344494.0  000880    q
34924            자본  2023-09-30  347828.0  000880    q

In [18]:
# TTM 구하기
kor_fs = kor_fs.sort_values(['종목코드', '계정', '기준일'])
kor_fs['ttm'] = kor_fs.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(window=4, min_periods=4).sum()['값']

# 자본은 평균 구하기
kor_fs['ttm'] = np.where(kor_fs['계정'] == '자본', kor_fs['ttm']/4, kor_fs['ttm'])
kor_fs = kor_fs.groupby(['계정', '종목코드']).tail(1)

In [13]:
kor_fs_merge = kor_fs[['계정', '종목코드', 'ttm']].merge(ticker_list[['종목코드', '시가총액', '기준일']], on = '종목코드')
kor_fs_merge['시가총액'] = kor_fs_merge['시가총액'] / 100000000
# 시가총액을 재무데이터 값으로 나누어 가치지표 계산
kor_fs_merge['value'] = kor_fs_merge['시가총액'] / kor_fs_merge['ttm']
kor_fs_merge['value'] = kor_fs_merge['value'].round(4)
kor_fs_merge['지표'] = np.where(
    kor_fs_merge['계정'] == '매출액', 'PSR',
    np.where(kor_fs_merge['계정'] == '영업활동으로인한현금흐름', 'PCR',
             np.where(kor_fs_merge['계정'] == '자본', 'PBR',
                    np.where(kor_fs_merge['계정'] == '당기순이익', 'PER', None))))
kor_fs_merge.rename(columns={'value' : '값'}, inplace=True)
kor_fs_merge = kor_fs_merge[['종목코드', '기준일', '지표', '값']]
kor_fs_merge = kor_fs_merge.replace([np.inf, -np.inf, np.nan], None)

kor_fs_merge.head(4)

     종목코드         기준일   지표       값
0  000020  2024-04-02  PER  9.2282
1  000020  2024-04-02  PSR  0.7232
2  000020  2024-04-02  PCR  8.9133
3  000020  2024-04-02  PBR  0.6573

In [86]:
query = """
INSERT INTO kor_value (종목코드, 기준일, 지표, 값)
VALUES (%s, %s, %s, %s)
ON DUPLICATE KEY UPDATE
값 = VALUES(값);
"""

args_fs = kor_fs_merge.values.tolist()
mycursor.executemany(query, args_fs)
con.commit()

In [87]:
# 배당수익률 계산
ticker_list['값'] = ticker_list['주당배당금'] / ticker_list['종가']  # 배당수익률 = 주당배당금 / 종가
ticker_list['값'] = ticker_list['값'].round(4)  # 값 소수점 4자리까지 반올림
ticker_list['지표'] = 'DY'  # 배당수익률 지표 표시
dy_list = ticker_list[['종목코드', '기준일', '지표', '값']]  # 필요한 열만 선택하여 새로운 DataFrame 생성
dy_list = dy_list.replace([np.inf, -np.inf, np.nan], None)  # 무한대 및 결측치를 None으로 대체
dy_list = dy_list[dy_list['값'] != 0]  # 배당수익률이 0이 아닌 행만 선택

args_dy = dy_list.values.tolist()
mycursor.executemany(query, args_dy)
con.commit()

In [88]:
kor_fs_sorted = kor_fs_2.sort_values(by=['종목코드', '계정', '기준일'])
grouped = kor_fs_sorted.groupby(['종목코드', '계정'])
kor_fs_2 = grouped.apply(filter_earliest_four_quarters)
kor_fs_2.reset_index(drop=True, inplace=True)

C:\Users\YANG\AppData\Local\Temp/ipykernel_132984/2506591569.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  kor_fs_2 = grouped.apply(filter_earliest_four_quarters)

In [89]:
# TTM 구하기
kor_fs_2 = kor_fs_2.sort_values(['종목코드', '계정', '기준일'])
kor_fs_2['ttm'] = kor_fs_2.groupby(['종목코드', '계정'], as_index=False)['값'].rolling(window=4, min_periods=4).sum()['값']
kor_fs_2_merge = kor_fs_2[['계정', '종목코드', 'ttm']].merge(ticker_list[['종목코드', '시가총액', '기준일']], on = '종목코드').dropna()

In [90]:
combined_df

        종목코드  EBITDA       시가총액         기준일  EV/EBITDA         지표
0     000020   313.0   2611.590  2024-04-02     8.3437  EV/EBITDA
1     000040  -144.0    347.846  2024-04-02    -2.4156  EV/EBITDA
2     000050   560.0   2297.400  2024-04-02     4.1025  EV/EBITDA
3     000070  1917.0   6037.810  2024-04-02     3.1496  EV/EBITDA
4     000080  2628.0  14482.600  2024-04-02     5.5109  EV/EBITDA
...      ...     ...        ...         ...        ...        ...
2293  457190    55.0  17135.500  2024-04-02   311.5545  EV/EBITDA
2294  460850   529.0   1883.620  2024-04-02     3.5607  EV/EBITDA
2295  460860  3135.0   5610.670  2024-04-02     1.7897  EV/EBITDA
2296  462520   377.0   2128.000  2024-04-02     5.6446  EV/EBITDA
2297  465770     9.0    594.479  2024-04-02    66.0532  EV/EBITDA

[2298 rows x 6 columns]

In [91]:
# 계정 분리
operating_profit = kor_fs_2_merge[kor_fs_2_merge['계정'] == '영업이익']
depreciation_expense = kor_fs_2_merge[kor_fs_2_merge['계정'] == '감가상각비']

# 분리한 계정 합치기
merged_df = pd.merge(operating_profit, depreciation_expense, on='종목코드')

# EBITDA 계산
merged_df['EBITDA'] = merged_df['ttm_x'] + merged_df['ttm_y']
ebitda = merged_df[['종목코드', 'EBITDA']]

# 종목코드, 시가총액, 기준일을 포함한 DataFrame 생성
temp_df = pd.concat([ticker_list['종목코드'], ticker_list['시가총액'] / 100000000, ticker_list['기준일']], axis=1)

# EBITDA와 종목코드 병합
combined_df = pd.merge(ebitda, temp_df, on='종목코드', how='inner')

# EV/EBITDA 계산
combined_df['EV/EBITDA'] = (combined_df['시가총액'] / combined_df['EBITDA']).round(4)

# 지표 열 추가
combined_df['지표'] = 'EV/EBITDA'

# 필요한 열만 선택하여 새로운 DataFrame 생성
ebitda_list = combined_df[['종목코드', '기준일', '지표', 'EV/EBITDA']]

# 무한대 및 결측치를 None으로 대체
ebitda_list = ebitda_list.replace([np.inf, -np.inf, np.nan], None)

# EV/EBITDA가 0이 아닌 행만 선택
ebitda_list = ebitda_list[ebitda_list['EV/EBITDA'] != 0]

# SQL에 전달하기 위해 리스트 형태로 변환
args_ebitda = ebitda_list.values.tolist()

# 데이터베이스에 쿼리 실행
mycursor.executemany(query, args_ebitda)
con.commit()

# 데이터베이스 연결 종료
engine.dispose()
con.close()

In [92]:
combined_df

        종목코드  EBITDA       시가총액         기준일  EV/EBITDA         지표
0     000020   313.0   2611.590  2024-04-02     8.3437  EV/EBITDA
1     000040  -144.0    347.846  2024-04-02    -2.4156  EV/EBITDA
2     000050   560.0   2297.400  2024-04-02     4.1025  EV/EBITDA
3     000070  1917.0   6037.810  2024-04-02     3.1496  EV/EBITDA
4     000080  2628.0  14482.600  2024-04-02     5.5109  EV/EBITDA
...      ...     ...        ...         ...        ...        ...
2293  457190    55.0  17135.500  2024-04-02   311.5545  EV/EBITDA
2294  460850   529.0   1883.620  2024-04-02     3.5607  EV/EBITDA
2295  460860  3135.0   5610.670  2024-04-02     1.7897  EV/EBITDA
2296  462520   377.0   2128.000  2024-04-02     5.6446  EV/EBITDA
2297  465770     9.0    594.479  2024-04-02    66.0532  EV/EBITDA

[2298 rows x 6 columns]

In [50]:
combined_df[combined_df['종목코드'] == '005930']

       종목코드    EBITDA       시가총액  EV/EBITDA
238  005930  420992.0  5074320.0    12.0532